[submodule "SunamoLogMessage"]
	path = SunamoLogMessage
	url = git@github.com:sunamo/SunamoLogMessage.git
[submodule "SunamoWpf.AwesomeFont"]
	path = SunamoWpf.AwesomeFont
	url = git@github.com:sunamo/SunamoWpf.AwesomeFont.git
[submodule "SunamoWpf.Controls"]
	path = SunamoWpf.Controls
	url = git@github.com:sunamo/SunamoWpf.Controls.git
[submodule "SunamoWpf.Converters"]
	path = SunamoWpf.Converters
	url = git@github.com:sunamo/SunamoWpf.Converters.git
[submodule "SunamoWpf.Core"]
	path = SunamoWpf.Core
	url = git@github.com:sunamo/SunamoWpf.Core.git
[submodule "SunamoWpf.Data"]
	path = SunamoWpf.Data
	url = git@github.com:sunamo/SunamoWpf.Data.git
[submodule "SunamoWpf.Extensions"]
	path = SunamoWpf.Extensions
	url = git@github.com:sunamo/SunamoWpf.Extensions.git
[submodule "SunamoWpf.Helpers"]
	path = SunamoWpf.Helpers
	url = git@github.com:sunamo/SunamoWpf.Helpers.git
[submodule "SunamoWpf.Logging"]
	path = SunamoWpf.Logging
	url = git@github.com:sunamo/SunamoWpf.Logging.git
[submodule "SunamoWpf.RegistryWin"]
	path = SunamoWpf.RegistryWin
	url = git@github.com:sunamo/SunamoWpf.RegistryWin.git
[submodule "SunamoWpf.Storage"]
	path = SunamoWpf.Storage
	url = git@github.com:sunamo/SunamoWpf.Storage.git
[submodule "SunamoWpf.SunamoUtils"]
	path = SunamoWpf.SunamoUtils
	url = git@github.com:sunamo/SunamoWpf.SunamoUtils.git
[submodule "SunamoWpf.ToggleSwitch"]
	path = SunamoWpf.ToggleSwitch
	url = git@github.com:sunamo/SunamoWpf.ToggleSwitch.git
[submodule "SunamoWpf.Windows"]
	path = SunamoWpf.Windows
	url = git@github.com:sunamo/SunamoWpf.Windows.git
[submodule "SunamoYouTube.Uwp"]
	path = SunamoYouTube.Uwp
	url = git@ssh.dev.azure.com:v3/sunamocz/SunamoYouTube.Uwp/SunamoYouTube.Uwp
[submodule "SunamoWpf.Mvvm"]
	path = SunamoWpf.Mvvm
	url = git@github.com:sunamo/SunamoWpf.Mvvm.git
[submodule "SunamoWf.Extensions"]
	path = SunamoWf.Extensions
	url = git@github.com:sunamo/SunamoWf.Extensions.git
[submodule "SunamoWf.Tray"]
	path = SunamoWf.Tray
	url = git@github.com:sunamo/SunamoWf.Tray.git
[submodule "SunamoWf.Converters"]
	path = SunamoWf.Converters
	url = git@github.com:sunamo/SunamoWf.Converters.git
[submodule "SunamoWf.Helpers"]
	path = SunamoWf.Helpers
	url = git@github.com:sunamo/SunamoWf.Helpers.git
[submodule "SunamoWf.Controls"]
	path = SunamoWf.Controls
	url = git@github.com:sunamo/SunamoWf.Controls.git
[submodule "SunamoWpf.TreeView"]
	path = SunamoWpf.TreeView
	url = git@github.com:sunamo/SunamoWpf.TreeView.git
[submodule "SunamoWpf.Cef"]
	path = SunamoWpf.Cef
	url = git@github.com:sunamo/SunamoWpf.Cef.git
[submodule "SunamoWpf.Web3"]
	path = SunamoWpf.Web3
	url = git@github.com:sunamo/SunamoWpf.Web3.git
[submodule "SunamoBitLockerManager"]
	path = SunamoBitLockerManager
	url = git@github.com:sunamo/SunamoBitLockerManager.git
[submodule "SunamoWshShortcut"]
	path = SunamoWshShortcut
	url = git@github.com:sunamo/SunamoWshShortcut.git
[submodule "SunamoUwpApps"]
	path = SunamoUwpApps
	url = git@github.com:sunamo/SunamoUwpApps.git
